<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
<h1>Modificar mi anuncio</h1>

<%= render 'form' %>


<%= link_to 'Volver a la lista', services_path, class: "btn btn-warning" %>
          </div>
  </div>
</div>