<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1 class="text-center">Nuevo anuncio</h1>

      <%= render 'form' %>

      <%= link_to 'Volver', services_path, class: "btn btn-link" %>
    </div>
  </div>
</div>